@{
    ViewBag.Title = Resource.PageTitlePammDetails;
    Layout = "~/Views/Pages/_PageLayout.cshtml";
}

@using TradeSharp.SiteAdmin.App_GlobalResources
@model TradeSharp.SiteAdmin.Models.Items.PammItem

@section Header {
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="/css/button.css" type="text/css" media="screen" title="default" />
    <!--  jquery core -->
    <script src="/js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="~/js/PammPartialTablePageSettings.js"></script>
    <!--[if IE]>
    <link rel="stylesheet" media="all" type="text/css" href="/css/pro_dropline_ie.css" />
    <![endif]-->
}

<style>
    th {
        text-align: right;
        padding: 10px;
    }
</style>

<div id="content-outer">
    <!-- start content -->
    <div id="content">
        <!--  start page-heading -->
        <div id="page-heading">
            <h1>@Resource.TitlePammDetails</h1>
        </div>
        
        @using (Html.BeginForm())
        {
            <div class="simpleTableContainer">
                <h3>@Resource.TitlePamm</h3>
                <table class="tableWithoutBorders">
                    <tbody>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.ID)
                            </td>
                            <td>
                                @Html.DisplayTextFor(x => x.ID)
                                @Html.HiddenFor(x => x.ID) 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Balance)
                            </td>
                            <td>
                                @Html.DisplayTextFor(x => x.Balance)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Currency)
                            </td>
                            <td>
                                @Html.DisplayTextFor(x => x.Currency)
                            </td>
                        </tr>
                        
                    </tbody>
                </table> 
                <br/>
                <h3>Инвесторы</h3>
                <table class="tableWithoutBorders">
                    <tr>
                        <td style="font-weight: bold">
                            @Resource.TitleInvestorAccount
                        </td>
                        <td style="font-weight: bold">
                            HWM
                        </td>
                        <td style="font-weight: bold">
                            @Resource.TitlePercentage
                        </td>
                    </tr>
                    <tbody>
                        
                        @foreach (var item in Model.ShareItems)
                        {
                            
                            <tr>
                                <td>
                                    @item.ShareOwner
                                </td>
                                <td>
                                    @item.HWM
                                </td>
                                <td>
                                    @item.Share
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table> 
            </div>
        }
        <br/>
        <a href="/TrustManagement/Pamm" style="color:#0000cd; font-size: 14px; font-weight: bold">&lArr; @Resource.TitleBack</a>
        <div class="clear">&nbsp;</div>
    </div>
    <!--  end content -->
    <div class="clear">&nbsp;</div>
</div>